html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%; 
  }
  
  .login-container {
    display: flex;
    height: 100vh; 
    width: 100%; 
  }
  
  .left-column {
    flex: 1; 
    background: linear-gradient(to right, #b30000, #7a0000); 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
  .right-column {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    background: #f0f0f0; 
  }
  
  form {
    width: 100%; 
    max-width: 400px; 
  }
  
  input {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  .button-submit {
    width: 100%; /* Ocupa toda a largura */
    padding: 10px; /* Espaçamento interno */
    background-color: #b30000; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para pointer */
  }
  
  .button-submit:hover {
    background-color: #7a0000; /* Cor ao passar o mouse */
    color: white; /* Cor do texto do botão */
  }
  